asgiref==3.9.0
beautifulsoup4==4.13.4
certifi==2025.6.15
charset-normalizer==3.4.2
cloudscraper==1.2.71
Django==4.2.23
django-jazzmin==3.0.1
greenlet==3.2.3
idna==3.10
mysqlclient==2.2.7
pillow==11.3.0
pyee==13.0.0
pyparsing==3.2.3
python-decouple==3.8
requests==2.32.4
requests-toolbelt==1.0.0
schedule==1.2.2
soupsieve==2.7
sqlparse==0.5.3
typing_extensions==4.14.1
tzdata==2025.2
urllib3==2.5.0
