now i need a scrapper using py beautifulsoup which extract data from this link:
https://www.fbi.gov/wanted/seeking-info
and this list it get name and image and details link and input them in ScrapedItem model.
<ul class="full-grid wanted-grid-natural infinity
           castle-grid-block-xs-2 castle-grid-block-sm-2castle-grid-block-md-3 castle-grid-block-lg-5 dt-grid" style="">
  
  
    <li class="portal-type-person castle-grid-block-item">
      <a href="https://www.fbi.gov/wanted/seeking-info/calvin-riley">
        <div class="focuspoint" data-w="1090" data-base-url="https://www.fbi.gov/wanted/seeking-info/calvin-riley/@@images/image/" data-focus-x="-0.14400004069" data-focus-y="0.161845447417" data-scale="preview" data-h="1456" data-scales-info="{&quot;preview&quot;: {&quot;h&quot;: 534, &quot;w&quot;: 400}, &quot;tile&quot;: {&quot;h&quot;: 85, &quot;w&quot;: 64}, &quot;icon&quot;: {&quot;h&quot;: 42, &quot;w&quot;: 32}, &quot;high&quot;: {&quot;h&quot;: 1870, &quot;w&quot;: 1400}, &quot;listing&quot;: {&quot;h&quot;: 21, &quot;w&quot;: 16}, &quot;mini&quot;: {&quot;h&quot;: 267, &quot;w&quot;: 200}, &quot;large&quot;: {&quot;h&quot;: 1025, &quot;w&quot;: 768}, &quot;thumb&quot;: {&quot;h&quot;: 170, &quot;w&quot;: 128}}"><img alt="CALVIN RILEY" src="https://www.fbi.gov/wanted/seeking-info/calvin-riley/@@images/image/preview" class="" style="max-height: 100% !important; top: 0px; left: 0%;"></div>
      </a>
      
      <h3 class="title">
        <a href="https://www.fbi.gov/wanted/seeking-info/calvin-riley">CALVIN RILEY</a>
      </h3>
      
    </li>
  
</ul>

in dashboard give a button when I click the button the scrapper work. remember lazy loading also my contain site in link have lazy loading